backend/sensores/flows.json
[
    {
        "id": "727502332294abfd",
        "type": "tab",
        "label": "Flow Arduino",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7daf30914ceb2c11",
        "type": "serial in",
        "z": "727502332294abfd",
        "name": "Arduino Serial Input",
        "serial": "42ef55fbc6afc594",
        "x": 90,
        "y": 80,
        "wires": [
            [
                "9da945583c746ca2",
                "ae7333af2b08cebd"
            ]
        ]
    },
    {
        "id": "9da945583c746ca2",
        "type": "json",
        "z": "727502332294abfd",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 110,
        "y": 160,
        "wires": [
            [
                "0ad28530b36f01d2",
                "6bfb2baf88e5e921",
                "76c0beb51d4a772f"
            ]
        ]
    },
    {
        "id": "0ad28530b36f01d2",
        "type": "function",
        "z": "727502332294abfd",
        "name": "HumiTemp",
        "func": "// Processar humidade e temperatura\nvar humidity = msg.payload.HumiTemp.Humidity;\nvar temperature = msg.payload.HumiTemp.Temperature;\n\nmsg.topic = `INSERT INTO Sensor (Tipo_Sensor, Local, Resultado_Atual) VALUES ('HumiTemp', 'Banheiro 1', ?);`;\nmsg.payload = [humidity];\n\nreturn [msg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 200,
        "wires": [
            [
                "ce9c9c02afb85ae5"
            ]
        ]
    },
    {
        "id": "6bfb2baf88e5e921",
        "type": "function",
        "z": "727502332294abfd",
        "name": "Papel",
        "func": "// Processar distância (papel)\nvar distance = msg.payload.Papel.Distance;\n\nmsg.topic = `INSERT INTO Sensor (Tipo_Sensor, Local, Resultado_Atual) VALUES ('Papel', 'Banheiro 1', ?);`;\nmsg.payload = [distance];\n\nreturn [msg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 240,
        "wires": [
            [
                "ce9c9c02afb85ae5"
            ]
        ]
    },
    {
        "id": "76c0beb51d4a772f",
        "type": "function",
        "z": "727502332294abfd",
        "name": "Lixeira",
        "func": "// Processar contador (lixeira)\nvar contador = msg.payload.Lixeira.Contador;\n\nmsg.topic = `INSERT INTO Sensor (Tipo_Sensor, Local, Resultado_Atual) VALUES ('Lixeira', 'Banheiro 1', ?);`;\nmsg.payload = [contador];\n\nreturn [msg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 280,
        "wires": [
            [
                "ce9c9c02afb85ae5"
            ]
        ]
    },
    {
        "id": "ce9c9c02afb85ae5",
        "type": "mysql",
        "z": "727502332294abfd",
        "mydb": "b2cc26c765796125",
        "name": "Inserir no Banco de Dados",
        "x": 520,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "ae7333af2b08cebd",
        "type": "debug",
        "z": "727502332294abfd",
        "name": "Debug Raw Payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 320,
        "y": 60,
        "wires": []
    },
    {
        "id": "42ef55fbc6afc594",
        "type": "serial-port",
        "serialport": "COM6",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "b2cc26c765796125",
        "type": "MySQLdatabase",
        "name": "DB Connection",
        "host": "127.0.0.1",
        "port": "3307",
        "db": "testeArduino",
        "tz": "",
        "charset": "UTF8"
    }
]
