sensores/flows.json
[
    {
        "id": "4c41d213406498d7",
        "type": "serial in",
        "z": "b865c9a6e4510935",
        "name": "Arduino Serial Input",
        "serial": "73add415dd992cd6",
        "x": 250,
        "y": 200,
        "wires": [
            [
                "57c3c149ab521a8f"
            ]
        ]
    },
    {
        "id": "57c3c149ab521a8f",
        "type": "json",
        "z": "b865c9a6e4510935",
        "name": "Parse JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 410,
        "y": 280,
        "wires": [
            [
                "e8bf65c8506d0507",
                "53de8608f6c9deb4",
                "cb24692582182371",
                "96941197e71d5387",
                "153b2824e8075f56"
            ]
        ]
    },
    {
        "id": "e8bf65c8506d0507",
        "type": "function",
        "z": "b865c9a6e4510935",
        "name": "Humidade",
        "func": "// Atualizar dados de humidade\nvar umidade = msg.payload.Umidade.humidity;\nmsg.topic = `UPDATE Sensor SET Resultado_Atual = ? WHERE Tipo_Sensor = 'Umidade';`;\nmsg.payload = [umidade];\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 180,
        "wires": [
            [
                "8e6fd5427d61553d"
            ]
        ]
    },
    {
        "id": "96941197e71d5387",
        "type": "function",
        "z": "b865c9a6e4510935",
        "name": "Temperatura",
        "func": "// Atualizar dados de temperatura\nvar temperature = msg.payload.Temperatura.temperature;\nmsg.topic = `UPDATE Sensor SET Resultado_Atual = ? WHERE Tipo_Sensor = 'Temperatura';`;\nmsg.payload = [temperature];\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 240,
        "wires": [
            [
                "8e6fd5427d61553d"
            ]
        ]
    },
    {
        "id": "53de8608f6c9deb4",
        "type": "function",
        "z": "b865c9a6e4510935",
        "name": "Papel",
        "func": "// Extrair a porcentagem do sabão\nvar percentage = msg.payload.Papel.Percentage;\n\n// Criar o comando SQL\nmsg.topic = `\n    UPDATE Sensor\n    SET Resultado_Atual = ?\n    WHERE Tipo_Sensor = 'Papel';\n`;\nmsg.payload = [percentage];\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 300,
        "wires": [
            [
                "8e6fd5427d61553d",
                "163afb7fc74d1860"
            ]
        ]
    },
    {
        "id": "cb24692582182371",
        "type": "function",
        "z": "b865c9a6e4510935",
        "name": "Lixeira",
        "func": "// Extrair a porcentagem do sabão\nvar percentage2 = msg.payload.Lixeira.Percentage2;\n\n// Criar o comando SQL\nmsg.topic = `\n    UPDATE Sensor\n    SET Resultado_Atual = ?\n    WHERE Tipo_Sensor = 'Lixeira';\n`;\nmsg.payload = [percentage2];\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 360,
        "wires": [
            [
                "8e6fd5427d61553d",
                "163afb7fc74d1860"
            ]
        ]
    },
    {
        "id": "8e6fd5427d61553d",
        "type": "mysql",
        "z": "b865c9a6e4510935",
        "mydb": "b2cc26c765796125",
        "name": "Atualizar Banco de Dados",
        "x": 890,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "153b2824e8075f56",
        "type": "function",
        "z": "b865c9a6e4510935",
        "name": "Sabão",
        "func": "// Extrair a porcentagem do sabão\nvar percentage3 = msg.payload.Sabão.Percentage3;\n\n// Criar o comando SQL\nmsg.topic = `\n    UPDATE Sensor\n    SET Resultado_Atual = ?\n    WHERE Tipo_Sensor = 'Sabão';\n`;\nmsg.payload = [percentage3];\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 420,
        "wires": [
            [
                "8e6fd5427d61553d"
            ]
        ]
    },
    {
        "id": "163afb7fc74d1860",
        "type": "debug",
        "z": "b865c9a6e4510935",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 400,
        "wires": []
    },
    {
        "id": "73add415dd992cd6",
        "type": "serial-port",
        "name": "",
        "serialport": "COM6",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "b2cc26c765796125",
        "type": "MySQLdatabase",
        "name": "",
        "host": "bf2hgksbofkyol7tyssq-mysql.services.clever-cloud.com",
        "port": "3306",
        "db": "bf2hgksbofkyol7tyssq",
        "tz": "",
        "charset": "UTF8"
    }
]