sensores/flows.json
[
    {
        "id": "4c41d213406498d7",
        "type": "serial in",
        "z": "b865c9a6e4510935",
        "name": "Arduino Serial Input",
        "serial": "42ef55fbc6afc594",
        "x": 90,
        "y": 80,
        "wires": [
            [
                "57c3c149ab521a8f"
            ]
        ]
    },
    {
        "id": "57c3c149ab521a8f",
        "type": "json",
        "z": "b865c9a6e4510935",
        "name": "Parse JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 250,
        "y": 160,
        "wires": [
            [
                "e8bf65c8506d0507",
                "53de8608f6c9deb4",
                "cb24692582182371",
                "96941197e71d5387",
                "153b2824e8075f56"
            ]
        ]
    },
    {
        "id": "e8bf65c8506d0507",
        "type": "function",
        "z": "b865c9a6e4510935",
        "name": "Humidade",
        "func": "// Atualizar dados de humidade\nvar humidity = msg.payload.Humidade.humidity;\nmsg.topic = `UPDATE Sensor SET Resultado_Atual = ? WHERE Tipo_Sensor = 'Humidade';`;\nmsg.payload = [humidity];\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 60,
        "wires": [
            [
                "8e6fd5427d61553d"
            ]
        ]
    },
    {
        "id": "96941197e71d5387",
        "type": "function",
        "z": "b865c9a6e4510935",
        "name": "Temperatura",
        "func": "// Atualizar dados de temperatura\nvar temperature = msg.payload.Temperatura.temperature;\nmsg.topic = `UPDATE Sensor SET Resultado_Atual = ? WHERE Tipo_Sensor = 'Temperatura';`;\nmsg.payload = [temperature];\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 120,
        "wires": [
            [
                "8e6fd5427d61553d"
            ]
        ]
    },
    {
        "id": "53de8608f6c9deb4",
        "type": "function",
        "z": "b865c9a6e4510935",
        "name": "Papel",
        "func": "// Extrair a porcentagem do sabão\nvar percentage = msg.payload.Papel.Percentage;\n\n// Criar o comando SQL\nmsg.topic = `\n    UPDATE Sensor\n    SET Resultado_Atual = ?\n    WHERE Tipo_Sensor = 'Papel';\n`;\nmsg.payload = [percentage];\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 180,
        "wires": [
            [
                "8e6fd5427d61553d"
            ]
        ]
    },
    {
        "id": "cb24692582182371",
        "type": "function",
        "z": "b865c9a6e4510935",
        "name": "Lixeira",
        "func": "// Extrair a porcentagem do sabão\nvar percentage2 = msg.payload.Lixeira.Percentage2;\n\n// Criar o comando SQL\nmsg.topic = `\n    UPDATE Sensor\n    SET Resultado_Atual = ?\n    WHERE Tipo_Sensor = 'Lixeira';\n`;\nmsg.payload = [percentage2];\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 240,
        "wires": [
            [
                "8e6fd5427d61553d"
            ]
        ]
    },
    {
        "id": "8e6fd5427d61553d",
        "type": "mysql",
        "z": "b865c9a6e4510935",
        "mydb": "b2cc26c765796125",
        "name": "Atualizar Banco de Dados",
        "x": 650,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "153b2824e8075f56",
        "type": "function",
        "z": "b865c9a6e4510935",
        "name": "Sabão",
        "func": "// Extrair a porcentagem do sabão\nvar percentage3 = msg.payload.Sabão.Percentage3;\n\n// Criar o comando SQL\nmsg.topic = `\n    UPDATE Sensor\n    SET Resultado_Atual = ?\n    WHERE Tipo_Sensor = 'Sabão';\n`;\nmsg.payload = [percentage3];\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 300,
        "wires": [
            [
                "8e6fd5427d61553d"
            ]
        ]
    },
    {
        "id": "42ef55fbc6afc594",
        "type": "serial-port",
        "name": "",
        "serialport": "COM7",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "b2cc26c765796125",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "Lhabath",
        "tz": "",
        "charset": "UTF8"
    }
]